.footer {
    padding: {
        top: 38px;
        bottom: 47px;
        left: 55px;
        right: 55px;
    }
        
    background-color: black;
    text-align: center;
        &__title {
        @include title;
        color: #FEFEFE;
        margin-bottom: 12px;
    }
    &__description {
        display: block;
        font-size: $mob-footer-description-font-size;
        color: #B9B9B9;
        line-height: 24px;
        margin-bottom: 26px;
    }
    &__logo {
        margin-bottom: 25px;
    }
    &__contacts {
        font-size: $mob-conactsfont-size;
        line-height: 24px;
        color: #B9B9B9;
    }
}