.header {
    position: relative;
    margin-bottom: 38px;
}

.burger{
    position: relative;
    left: 85%;
    width: 44px;
    height: 37px;
    background-color: #000000;
    cursor: pointer;
    margin: 23px 0;
  }  

  .burger span, .burger span:before, .burger span:after{
    width: 17px;
    position: absolute;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: .3s;
    border-radius: 3px;
  }
  .burger span:before{
    content: "";
    left: 0;
    width: 17px;
    top: -4px;
    transition: top 100ms 100ms, transform 100ms;
  }
  .burger span{
    left: 13px;
    top: 17px;
  }
  .burger span:after{
    content: "";
    left: 0;
    bottom: -4px;
    width: 17px;
    transition: bottom 100ms 100ms, transform 100ms;
  }

  .burger span.active:before{
    content: "";
    top: 0px;
    width: 17px;
    left: 0px;
    transform: rotate(45deg);
    transition: top 100ms, transform 100ms 100ms;
  }
  .burger span.active:after{
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 100ms, transform 100ms 100ms;
  }
  .burger span.active{
    background: rgba(255, 255, 255, 0); 
  }


.header__image {
    width: 100%;
}

.nav-menu {
    display: none;
    flex-direction: column;
    color:$title-color;
    background-color: #F5F5F5;
    text-transform: uppercase;
    position: absolute;
    right: 14px;
    top: 37px;
}

.nav-menu__item {
  font-size: $mob-menu-font-size;
  padding: 0 70px 0 12px;
  line-height: 28px;
  cursor: pointer;
    &:hover {
    color:$text-hover-color;
    background-color: #E5E5E5;
  } 
}

.animate {
  display: block;
}