.instagram {
    padding-bottom: 42px;
    &__title {
        margin-bottom: 13px;
        @include title;        
    }
    &__page {
        display: none;
    }
}

.instagram-images {
    &__img {
        display: none;
        &:first-child{
            display: block;
        }
    }
}




