@media (min-width: $tablet-width) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .burger {
        display: none;
    }

    .nav-menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: none;
        padding: {
            top: 38px;
            bottom: 40px;
            left: 85px;
            right: 85px;
        }
        &__item {
            padding: 0;
            font-size: $tab-pc-menu-font-size;
     &:hover {
        background: none;
    }
}
}

.posts {
    margin-bottom: 60px;
}

.post-item {
    margin-bottom: 29px;
    display: flex;
    &__img {
        margin-bottom: 0;
    }
    &__title {
        font-weight: bold;
        font-size: $tab-pc-title-font-size; 
        color: $title-color;
        margin-bottom: 11px;
    }
    &__info {
        display: block;
        font-size: $tab-pc-post-info-font-size;  
        color: #7C7C7C;
        margin-bottom: 13px;
    }font-size: $tab-pc-post-description;
    &__description {
        display: block;

    }
}
.item-wrap {
    padding: {
      left: 20px;
      right: 150px;
    }
}

.instagram {
    background-color: rgba($color: #000000, $alpha: 0.03);
    &__title {
        display: flex;
        justify-content: space-between;
        padding: {
        top: 47px;
        bottom: 35px;
        }
    }
    &__page {
        display: block;
        font-size: $tab-pc-instagram-go-to-page;

    }
}

.instagram-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__img {
        width: 32.5%;
        display: block;
        &:last-child{
            display: none;
        }
    }
}

.footer {
    &__description {
        font-size: $tab-pc-footer-description-font-size;
    }
    &__contacts {
        font-size: $tab-pc-conactsfont-size;
    }
}
}

@media (min-width: $descktop-width) {
    .content {
        padding: 0 215px;
    }
    .item-wrap {
        padding: {
          left: 20px;
          right: 0;
       }
} 
    .post-item {
      width: 40%;
  }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

.instagram-images {
    padding-bottom: 49px ;
    &__img {
        width: 24.5%;
        &:last-child{
            display: block;
        }
        }
    }


    .footer {
        padding: {
            top: 66px;
            bottom: 70px;
        }
            &__title {
            margin-bottom: 22px;
        }
        &__description {
            text-align: center;
            width: 45%;
            margin: auto;
            margin-bottom: 37px;
        }
        &__logo {
            margin-bottom: 34px;
        }
    }
}