.posts {
    &__title {
        margin-bottom: 23px;
        @include title;
    }
}

.posts__post-item:last-child {
    display: none;
}

.post-item {
    margin-bottom: 29px;
    &__img {
        margin-bottom: 11px;
    }
    &__title {
        font-weight: bold;
        font-size: $mob-title-font-size; 
        color: $title-color;
        margin-bottom: 11px;
    }
    &__info {
        font-size: $mob-post-info-font-size;  
        color: #7C7C7C;
    }
    &__description {
        display: none;
    }
}