$tablet-width: 768px;
$descktop-width: 1200px;
$title-color:#4E4E4E;
$text-hover-color:#57A4A4;
$mob-title-font-size: 14px;
$mob-menu-font-size: 11px;
$mob-post-info-font-size:11px;
$mob-footer-description-font-size:12px;
$mob-conactsfont-size:14px;
$tab-pc-title-font-size: 16px;
$tab-pc-menu-font-size: 11px;
$tab-pc-post-info-font-size:12px;
$tab-pc-post-description:14px;
$tab-pc-instagram-go-to-page:13px;
$tab-pc-footer-description-font-size:16px;
$tab-pc-conactsfont-size:16px;


