@import "_reset";
@import "_mixins";
@import "_varriables";

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 0 15px;
}


@import "_header";
@import "_posts";
@import "_insta-posts";
@import "_footer";
@import "_media";
